body {
  font-family: Arial, sans-serif;
  background: #f1f5f9;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  margin-top: 40px;
  background: white;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.2);
}

h1 {
  text-align: center;
  margin-bottom: 25px;
  color: #1e293b;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  margin-top: 20px;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background: #059669;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #047857;
}

table {
  width: 100%;
  margin-top: 35px;
  border-collapse: collapse;
}

th {
  background: #059669;
  color: white;
  padding: 12px;
}

td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
